body {
    padding: 10px;
}

.listing {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
    width: 400px;
    border-radius: 5px;
}

.listing_page_image
{
    width: 700px;
}

.comments_container
{
    padding: 10px;
    margin: 10px;
}

.comment
{
    border: solid black 1px;
    padding: 20px;
    margin: 20px;
    border-radius: 3px;
}

img
{
    width: 300px;
}

.col
{
    margin: 0px;
}

.card_title
{
    margin: auto;
}