{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}

	<!-- Navbar Area -->
	<div style="height: 55px;"></div>

	{% if alert %}
		{{ alert | safe }}
	{% endif %}

	<!-- new markup -->
	<section class="listing-section">
		<div class="listing-container">


			<!-- Add To Watchlist (watchlist form) --> 
			<div class="listing-watchlist-container">
				{% if listing.seller != user %}

					<form action="{% url 'watchlist' %}" method="post">
						{% csrf_token %}
						<input type="hidden" name="listing_id" value="{{ listing.id }}">
						{% if listing in watchlist %}
							<input type="hidden" name="modify" value="remove">
							<input class="listing-watchlist-button" type="submit" value="Remove from watchlist">
						{% else %}
							<input type="hidden" name="modify" value="add">
							<button class="listing-watchlist-button" type="submit">+ Add to watchlist</button>
						{% endif %}
					</form>    

				{% endif %}                            
			</div>     
			
			<div class="listing-content-container">  

				<div class="listing-content">
					<h1 class="major-heading listing-heading">{{ listing.title }}</h1>


					<p class="major-paragraph">{{ listing.description }}</p>

					<div class="listing-info-grid">

						<div class="listing-info">Catagory</div>
						<div class="listing-info"><b>{{ listing.catagory }}</b></div>

						<div class="listing-info">Seller</div>
						<div class="listing-info"><b>{{ listing.seller }}</b></div>

						<div class="listing-info">Current Price</div>
						<div class="listing-info"><b>{{ listing.current_price }} $</b></div>

						<div style="grid-column: 1 / span 2; margin: 20px 0px;">
							<form action="{% url 'listing' listing.id %}" method="post">
								{% csrf_token %}
		
								{% if listing.seller != user %}
		
									{% if listing.sold == False %}
										<input class="bidding-field" type="number" placeholder="Place a Bid here" name="amount">
										<button class="bidding-button" type="submit">Bid</button>  
									{% else %}
										<strong>Sold!</strong>
									{% endif %}
		
							
								{% else %}
		
									{% if listing.sold == False %}
										<input type="hidden" name="close" value="close">
										<button class="bidding-button" type="submit">Close Auction</button>  
									{% else %}
										<strong>You Sold this listing successfully to {{ listing.buyer }} <br> at a price of {{ listing.current_price }}$</strong>
									{% endif %}   
										
								{% endif %}
							</form>
						</div>
					</div>



				</div>


			</div>	
			
			<div class="listing-image-div" style="background-image: url('{{listing.image}}');"></div>
		</div>
	</section>
			
	<!-- Comments-->
	<section class="comments-section">
		<div class="comments-container">
			<h1>Comments</h1>

			<!-- New Comment Form -->
			<form class="new-comment-form" action="{% url 'comment' %}" method="post">
				{% csrf_token %}
				<textarea class="comment-field" name="comment" id="comment" rows="3" columns="100" placeholder="Write a Comment here"></textarea>

				<input type="hidden" name="listing_id" value="{{ listing.id }}">
				<div class="comment-button-div">
					<input class="comment-button" type="submit" Value="Comment">
				</div>	
			</form>

			<!-- Comments -->
			<div class="comments-grid">
				{% for comment in comments %}
					<div class="comment">
						<b style="font-size: 17px;">{{ comment.user }}</b><small style="color: gray;">  {{ comment.created_time }}</small>
						<p>{{ comment.text }}</p>
					</div>
				{% empty %}
					<p>No comments yet on this listing</p>
				{% endfor %}
			</div>		
		</div>
	</section>

		

{% endblock %}