{% extends "auctions/layout.html" %}

{% block body %}
    <div class="login-form-section">
        <div class="form-container login-form-container">
            <h1>Login</h1>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}

                {% if message %}
                    <div>{{ message }}</div>
                {% endif %}
                
                <div class="form-fields-flex">
                    <div class="form-field">
                        <input class="form-input login-form-input" type="text" name="username" placeholder="Username" autofocus>
                    </div>
                    <div class="form-field">
                        <input class="form-input login-form-input" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-field" style="margin-top: 10px;">
                        <input class="form-submit-button" type="submit" value="login">
                    </div>
                    <div>
                        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
                    </div>
                </div>
            </form> 
        </div>
     </div>

{% endblock %}