{% extends "auctions/layout.html" %}

{% block body %}

    <div class="login-form-section" style="margin-top: 20px;">
        <div class="form-container login-form-container"">
            <h1>Sign up</h1>
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}

                {% if message %}
                    <div>{{ message }}</div>
                {% endif %}
                
                <div class="form-fields-flex">
                    <div class="form-field">
                        <input class="form-input login-form-input" type="text" name="username" placeholder="Username" autofocus>
                    </div>
                    <div class="form-field">
                        <input class="form-input login-form-input" type="text" name="email" placeholder="Email" autofocus>
                    </div>
                    <div class="form-field">
                        <input class="form-input login-form-input" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-field">
                        <input class="form-input login-form-input" type="password" name="confirmation" placeholder="Confirm Password">
                    </div>
                    <div class="form-field" style="margin-top: 10px;">
                        <input class="form-submit-button" type="submit" value="login">
                    </div>
                    <div>
                        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
                    </div>
                </div>
            </form> 
        </div>
    </div>

 
{% endblock %}